/**
Question?
Feel free and contact me: baophan94@icloud.com
wWw: http://dinophan.com
**/

.videoCallContainer {
	background-color: #000;
	position: fixed;
	top: 10px;
	left: 10px;
	right: 10px;
	bottom: 10px;
}

#localVideo {
	height: 100%;
}

#remoteVideo {
	height: 100%;
}

.localConnecting {
	position: absolute;
	width: 100%;
	height: 100%;
}

.localConnected {
	position: absolute;
	width: 20%;
	height: 20%;
	right: 10px;
	bottom: 10px;
}

.remoteConnecting {
	position: absolute;
	width: 0%;
	top: 0px;
	left: 0px;
}

.remoteConnected {
	position: absolute;
	height: 100%;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
}

.status {
	position: absolute;
	bottom: 30px;
	color: #fff;
	width: 97%;
	font-family: "Avenir Next";
	font-weight: 100;
	font-size: 30px;
}


/* Message Container */

#messageContainer {
	position: fixed;
	width: 30%;
	height: 70%;
	top: 30px;
	left: 30px;
}

.chatview {
	width: 100%;
	height: 90%;
}

#chatbody {
	height: 83%;
	overflow: auto;
}

